<a href="https://colab.research.google.com/github/lauracar2/aula-5/blob/main/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tp_frutas = ('maça','uva','pera','laranja')
tp_frutas

In [ ]:
lst_frutas = list(tp_frutas)
type(lst_frutas)
lst_frutas

In [ ]:
lst_frutas = list(tp_frutas)
type(lst_frutas)
tp_frutas2 = tuple(lst_frutas)
type(tp_frutas2)

In [ ]:
tp_meses = ('jan','fev','mar','abr','mai','jun','jul','ago','set','out','nov','dez')
tp_meses[3:6]

In [ ]:
uf_cod = [('PE', 81), ('RJ',21), ('SP', 11), ('PB', 83)] 
sorted(uf_cod, key = lambda x : x[1])

In [23]:
nome_nasc = [('ZÉ',1970), ('JOÃO', 2003),('JOSÉ',1984),('JÚLIO',1980),('ANDRÉ',2000),('ADRIANO',1987)]
sorted(nome_nasc, key = lambda x : x[1], reverse = True ) #do menor para o maior da lista

[('JOÃO', 2003),
 ('ANDRÉ', 2000),
 ('ADRIANO', 1987),
 ('JOSÉ', 1984),
 ('JÚLIO', 1980),
 ('ZÉ', 1970)]

In [22]:
nome_nasc = [('ZÉ',1970), ('JOÃO', 2003),('JOSÉ',1984),('JÚLIO',1980),('ANDRÉ',2000),('ADRIANO',1987)]
sorted(nome_nasc, key = lambda x : x[1]) #do maior para o menor

[('ZÉ', 1970),
 ('JÚLIO', 1980),
 ('JOSÉ', 1984),
 ('ADRIANO', 1987),
 ('ANDRÉ', 2000),
 ('JOÃO', 2003)]

In [24]:
def nome_idade_uf():
  nome = "josé"
  idade = 28
  uf = 'RN'
  return nome,idade,uf

name, age, uf = nome_idade_uf()  


print(name,age,uf)

josé 28 RN

In [25]:
alunos = ('joão', 'jully','marcos','brenda','ricardo')
notas = (6.5,8,7.5,2,10)
Av1 = tuple(zip(alunos, notas))

Av1

(('joão', 6.5), ('jully', 8), ('marcos', 7.5), ('brenda', 2), ('ricardo', 10))