<a href="https://colab.research.google.com/github/lauracar2/aula-5/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
alunos = ["Junior","Luiz","Hellen","Amanda","Fernando"]
alunos

['Junior', 'Luiz', 'Hellen', 'Amanda', 'Fernando']

In [5]:
if "Renan" in alunos:
  print("tem sim!!!")
else:
  print("tem não")

tem não

In [9]:
alunos [4] = "Júlio"
alunos

['Junior', 'Luiz', 'Hellen', 'Amanda', 'Júlio']