<a href="https://colab.research.google.com/github/lauracar2/aula-5/blob/main/Untitled19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Revissão de aulas anteriores!!

In [ ]:
#ultilização de if,elif e else#

nome = input("Digite seu nome: ")
idade = int(input("Digite a sua idade: "))
if(idade >= 18):
  print("Entrada confirmada com sucesso!!")
elif(idade == 17):
  print("Exessão")
else:
  print("Acesso negadoooooo")

In [ ]:
sexualidade = input("Digite a sua sexualidade: ")
idade = int(input("Digite a sua idade: "))
if(sexualidade == 'F' and idade >= 55):
  print("Pode se aposentar ")
elif(sexualidade == 'M' and idade >= 60):
  print("Se aposente pelo amor de Deusssssssssss")
else:
  print("Ainda nãooooooooooooooooooooooooo")

In [ ]:
a = int(input("Digite um número: "))
b = int(input("Digite um segundo número: "))
c = int(input("Digite o segundo número:  "))

if(a+b > c):
  print("É menor")
else:
  print("É maior")

Revisão de listas

In [ ]:
num = [1,2,3,4,5,6,7,80]

In [ ]:
len(num)

In [ ]:
coisas = [1,45,67,"jumento",5]   #coleções de coisas aleatórias em lista#
coisas

In [ ]:
#A ordenação das listas têm índice que inicia em 0, e vai até o tamanho da lista menos 1
print(num[0]) #Primeiro ítem da lista
print(num[1])
print(num[2])
print(num[3])
print(num[4])
print(num[5]) #Fora do índice

In [ ]:
print(num[0],num[1],num[2],num[3])

In [ ]:
#alterando os valores de uma lista
pessoas = ['julia','maria','laura','eduarda']

In [ ]:
pessoas[3]= 'josé'
pessoas

In [ ]:
pessoas.append('Jesus')  #adicionando valores a uma lista de strings
pessoas

In [ ]:
pessoas.append(input('Digite um nome: '))

In [ ]:
pessoas

In [ ]:
if 'osvaldo' in pessoas:
  print('tem osvaldo simmm')
else:
  print('tem osvaldo não')

In [ ]:
nome = input("Digite o nome para a busca na lista: ")
if nome in pessoas:
  print("Tem", nome)
else:
  print("Não tem", nome)

In [ ]:
del pessoas[0]   #deletando itens de uma lista#
pessoas

laço for

In [ ]:
comida = ['peixe','coxinha','lasanha','salame']

In [ ]:
for food in comida:
  print(food)

In [ ]:
num = [1,2,3,4,5]

primos=[]
print(primos)
primos.append(34)
print(primos)
primos.append(12)
print(primos)

In [ ]:
numeros = []
for num in range(20):     #range () retorna um conjunto de números sequenciais.
  numeros.append(num)     

numeros

In [ ]:
import random    #importando a biblioteca random

In [ ]:
nuns = []
for num in range(random.randrange(0,300)):   #numeros sequenciais
     nuns.append(num)

nuns

In [ ]:
#Um número será múltiplo de outro, quando o resto da divisão entre eles for 0
import random

a = random.randrange(100)

a

In [ ]:
import random 


b = random.randrange(1000)

b

In [ ]:
# verificando se é par ou impar

num = int(input("Digite o nuúmero:  "))
if num % 2 == 0 :
  print("É par")
else:
  print("É impar")

In [ ]:
#Printar os números pares positivos

num = []
for n in range(101):
  if(n % 2 == 0):
    num.append(n)  

num

In [ ]:
dobro = []
for num in numeros:
  dobro.append(num * 2) 
dobro

In [ ]:
triplo = []
for num in triplo:
   triplo.append(num * 3)
triplo

In [ ]:
notas = []
for num in range(5):
  nota1 = int(input("Digite a nota: "))
  notas.append(nota1)

notas

In [ ]:
soma = 0
for n in range(101):
  soma = soma+n

soma

Laço While

In [ ]:
cont = 1
while(cont < 11):
  print(cont)
  cont+=1

In [ ]:
cont = 0
numeros = int(input("Digite um número: "))

while(cont <= numeros):
  print(cont)
  cont+=1

In [ ]:
cont = 0
num = int(input("Insira um número: "))

while(cont <= num):
  print(cont)
  cont+=1

In [11]:
comprasList = []

item = input("Digite itens: ")

                                           #encerramento de lista após inserir 0
while( item != '0'):
  comprasList.append(item)
  item = input("Digite itens: ")

Digite itens: chocolate
Digite itens: feijão
Digite itens: 0

In [ ]:
senha_correta = "senha123"
tentativas = 5

while tentativas > 0:
    senha = input("Digite a senha: ")
    
    if senha == senha_correta:
        print("Senha correta! Acesso concedido.")
        break
    else:
        tentativas -= 1
        print("Senha incorreta! Tente novamente. Tentativas restantes:", tentativas)

if tentativas == 0:
    print("Você excedeu o número máximo de tentativas. Acesso bloqueado.")

In [ ]:
num = input('digite um número')
num.isdigit()

In [ ]:
import random

num = random.randrange(1001)
minimo = 0
maximo = 1000
pitaco = int(input(f'Chute um número entre {minimo} e {maximo}: '))
cont = 1

while(num != pitaco):
  if(pitaco > num):
    maximo = pitaco
  else:
    minimo = pitaco
  pitaco = int(input(f'Chute um número entre {minimo} e {maximo}: '))
  cont+=1

print(f'ACERTOU, {cont} tentativas!')

funções

In [23]:
def media(*notas):
  soma = 0
  for nota in notas:
    soma += nota
  print(soma / len(notas))

In [ ]:
media(8, 5, 3, 7, 2, 10,7)    #chamando a função

In [27]:
def mediaT(*notas):
  soma = 0
  for nota in notas:
    soma+= nota
  media = soma/len(notas)
  print('A média é: ', media)

In [ ]:
mediaT(3,6,8,9,9,10)

In [29]:
def nacionalidade(coutryn = 'Paraíba'):
  print('Eu nasci em, ' + coutryn)

RETURN

In [30]:
def imc(peso, altura):
  return peso/altura**2

In [31]:
def situacaoPeso(imc):
  if(imc < 18.5):
    print('Abaixo do peso normal')
  elif(imc < 24.9):
    print('Peso normal')
  else:
    print('Obesidade')

In [ ]:
situacaoPeso(imc(56, 1.65))

In [37]:
def vezes(a,b):
  return a * b

In [ ]:
vezes(45, 9)

In [41]:
def juros(valor,tempo):
  return valor * 0.025 * tempo

def simulac(capital,juros):
  return juros + capital